﻿
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

@include media-breakpoint-up(xs) {
    .containerLevel {
        border: outset;
        border-width: thick;
        background-color: lightgray;
    }

    .columnsABCD {
        border-top-width: thin;
        border-top: solid;
        border-top-color: black;
        border-bottom-width: thin;
        border-bottom: solid;
        border-bottom-color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .buttonFramingSM {
        border: thin;
        border-color: black;
        border-style: solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttonFraming {
        border-style: solid;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
    }

    .buttonNoFraming {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttonGroup {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 12px;
        margin-right: 12px;
    }

    buttonPMdb {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        width: 200px;
        border-style: unset;
        color: black;
        background-color: gray;
    }
}

@include media-breakpoint-up(sm) {
    .containerLevel {
        border: outset;
        border-width: thick;
        background-color: lightgray;
    }

    .columnsABCD {
        border-top-width: thin;
        border-top: solid;
        border-top-color: black;
        border-bottom-width: thin;
        border-bottom: solid;
        border-bottom-color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .buttonFramingSM {
        border: thin;
        border-color: black;
        border-style: solid;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .buttonFraming {
        border-style: solid;
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
    }

    .buttonNoFraming {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttonGroup {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 12px;
        margin-right: 12px;
    }

    buttonPMdb {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        width: 200px;
        border-style: unset;
        color: black;
        background-color: gray;
    }
}

@include media-breakpoint-up(md) {


    .containerLevel {
        border: outset;
        border-width: thick;
        background-color: lightgray;
    }

    .columnsABCD {
        border-left: solid;
        border-left-color: black;
        border-right: solid;
        border-right-color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .buttonFramingSM {
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
    }

    .buttonFraming {
        border-top: solid;
        border-bottom: solid;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
    }

    .buttonNoFraming {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttonGroup {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 12px;
        margin-right: 12px;
    }

    button {
        text-align: center;
        width: 150px;
        border-style: unset;
        color: black;
        background-color: gray;
        font-size: xx-small;
    }
}

@include media-breakpoint-up(lg) {


    .containerLevel {
        border: outset;
        border-width: thick;
        background-color: lightgray;
    }

    .columnsABCD {
        border-left: solid;
        border-left-color: black;
        border-right: solid;
        border-right-color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .buttonFraming {
        border-top: solid;
        border-bottom: solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttonNoFraming {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .buttonGroup {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-left: 12px;
        margin-right: 12px;
    }

    button {
        text-align: center;
        width: 200px;
        border-style: unset;
        color: black;
        background-color: gray;
    }
}
