﻿body {
}

div.polaroid {
    width: 1000px;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    background-image: url(../images/PMdbDashboardBackground.jpg);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center; /* optional, center the image */
    text-align: center;
    font-weight: bold;
}

.noIE11{
    color: yellowgreen;
}